.pip-content-container {
    box-sizing: border-box;
    overflow-y: auto;
}

.pip-recommended-header {
    height: 45px;
    min-height: 45px;
    z-index: 10;
}

.pip-recommended-header .md-toolbar-tools {
    height: 45px;
    min-height: 45px;
}

.pip-recommended-header pip-title {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
}

.pip-recommended-header .md-button > span {
    text-transform: none;
}

.pip-body {
    padding: 24px !important;
}