<!--
@file Location edit dialog content
@copyright Digital Living Software Corp. 2014-2016
-->

<md-dialog class="pip-dialog pip-location-edit-dialog" layout="column"md-theme="{{theme}}">

    <div class="pip-header" layout="column" layout-align="start start">
        <md-progress-linear ng-show="transaction.busy()" md-mode="indeterminate" class="pip-progress-top">
        </md-progress-linear>
        <h3 class="m0 w-stretch" flex>{{ 'LOCATION_SET_LOCATION' | translate }}</h3>
    </div>
    <div class="pip-footer">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent" ng-click="onAddPin()" ng-show="locationPos == null"
                ng-disabled="transaction.busy()" aria-label="{{ ::'LOCATION_ADD_PIN' | translate }}">
                {{ ::'LOCATION_ADD_PIN' | translate }}
            </md-button>
            <md-button class="md-accent" ng-click="onRemovePin()" ng-show="locationPos != null"
                ng-disabled="transaction.busy()" aria-label="{{ ::'LOCATION_REMOVE_PIN' | translate }}">
                {{ ::'LOCATION_REMOVE_PIN' | translate }}
            </md-button>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <md-button ng-click="onCancel()" aria-label="{{ ::'CANCEL' | translate }}">
                {{ ::'CANCEL' | translate }}
            </md-button>
            <md-button class="md-accent" ng-click="onApply()" ng-disabled="transaction.busy()"
                aria-label="{{ ::'APPLY' | translate }}">
                {{ ::'APPLY' | translate }}
            </md-button>
        </div>
    </div>
    <div class="pip-body">
        <div class="pip-location-container"></div>
        <md-button class="md-icon-button md-fab pip-zoom-in" ng-click="onZoomIn()"
                   aria-label="{{ ::'LOCATION_ZOOM_IN' | translate }}">
            <!--span class="icon-plus"></span-->
            <md-icon md-svg-icon="icons:plus"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-fab pip-zoom-out" ng-click="onZoomOut()"
                   aria-label="{{ ::'LOCATION_ZOOM_OUT' | translate }}">
            <!--span class="icon-minus"></span-->
            <md-icon md-svg-icon="icons:minus"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-fab pip-set-location" ng-click="onSetLocation()"
                   aria-label="{{ ::'LOCATION_SET_LOCATION' | translate }}"
                   ng-show="supportSet" ng-disabled="transaction.busy()">
            <!--span class="icon-target"></span-->
            <md-icon md-svg-icon="icons:target"></md-icon>
        </md-button>
    </div>
</md-dialog>
